# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/
.pytest_cache/

# Datasets 
data/*.csv
data/MachineLearningCVE/
data/zips/
data/GeneratedLabelledFlows.zip

# pcaps and Suricata output 
data/pcaps/
data/suricata-logs/

# Trained models artifacts.
models/*.joblib
models/*.pkl

# OS junk
.DS_Store
Thumbs.db
